body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #4d5ae5;
  text-decoration: none;
}

.header-logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800px;
  font-size: 18px;
  line-height: 1.16;
  color: #2e2f42;
}

.header-nav {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-decoration: none;
}

.header-nav-list {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

.header-link {
  font-weight: 600;
  text-decoration: none;
  color: var(--dark-navy-blue);
}

.header-nav-item:focus,
.header-nav-item:hover {
  color: #404bbf;
}

.header-tel {
  font-weight: 400;
  font-size: 16px;
  color: #2e2f42;
}

.header-email {
  font-weight: 400;
  font-size: 16px;
  color: #2e2f42;
}

.header-contacts {
  text-decoration: none;
  color: var(--dark-navy-blue);
}

.hero {
  background-color: #2e2f42;
}

.hero-title {
  color: #ffffff;
  font-weight: 600px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
}

.hero-btn {
  font-size: 16px;
  line-height: 1.18;
  background-color: #4d5ae5;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: 0 0 0 0;
  clip-path-inset: 50%;
  margin: -1px;
}

.list-work {
  font-size: 16px;
  line-height: calc (24/16);
  color: #434455;
}

.title-work {
  font-style: 500;
  font-size: 20px;
  line-height: calc (24/20);
  color: #2e2f42;
}

.title-description {
  font-style: 500;
  font-size: 20px;
  line-height: calc (24/20);
  color: #2e2f42;
}

.team {
  background-color: #f4f4fd;
}

.title-team {
  font-weight: 600;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
}

.title-name {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
}

.position-team {
  font-weight: 400;
  font-size: 16px;
  line-height: calc (24/16);
}

.footer {
  background-color: #2e2f42;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800px;
  font-size: 18px;
  line-height: calc(21 / 18);
  color: #4d5ae5;
  text-decoration: none;
}

.footer-logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16em;
  color: #f4f4fd;
}

.footer-text {
  color: #e7e9fc;
}
