:root {
  --background-color-btn: #f4f4fd;
  --general-text: #2e2f42;
  --dark-blue: #4d5ae5;
}

body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: var(--dark-blue);
  text-decoration: none;
}

.header-logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800px;
  font-size: 18px;
  line-height: 1.16;
  color: var(--general-text);
}

.header-nav {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--general-text);
  text-decoration: none;
}

.header-nav-list {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--general-text);
  letter-spacing: 0.02em;
}

.header-link {
  font-weight: 600;
  font-size: 16px;
  line-height: calc (24/16);
  color: var(--general-text);
}

.header-link:focus,
.header-link:hover {
  color: #404bbf;
}

.header-contacts-list {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: #434455;
}

.header-contacts-tel {
  font-weight: 400;
  font-size: 16px;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: #434455;
}

.header-contacts-email {
  font-weight: 400;
  font-size: 16px;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: #434455;
}

.header-contacts-tel:hover,
.header-contacts-email:hover {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #404bbf;
}

.portfolio-btn {
  background-color: var(--background-color-btn);
  color: #4d5ae5;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: calc(24 / 16);
  border: none;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: #404bbf;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: calc(24 / 16);
  border: none;
}

.hero {
  background-color: #2e2f42;
}

.hero-title {
  color: #ffffff;
  font-weight: 600px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
}

.hero-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: calc(19 / 16);
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

.list {
  list-style: none;
}

.title-element {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: var(--general-text);
}

.function {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  color: #434455;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: 0 0 0 0;
  clip-path-inset: 50%;
  margin: -1px;
}

.list-work {
  font-size: 16px;
  line-height: calc (24/16);
  color: #434455;
}

.title-work {
  font-style: 500;
  font-size: 20px;
  line-height: calc (24/20);
  color: var(--general-text);
}

.title-description {
  font-style: 500;
  font-size: 20px;
  line-height: calc (24/20);
  color: var(--general-text);
}

.team {
  background-color: #f4f4fd;
}

.title-team {
  font-weight: 600;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
}

.title-name {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
}

.position-team {
  font-weight: 400;
  font-size: 16px;
  line-height: calc (24/16);
}

.footer {
  background-color: #2e2f42;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800px;
  font-size: 18px;
  line-height: calc(21 / 18);
  color: #4d5ae5;
  text-decoration: none;
}

.footer-logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16em;
  color: #f4f4fd;
}

.footer-text {
  color: #e7e9fc;
}
